
<form action="/contact" method="POST"> 
    <label>
        <input type="radio" name="Liking" value="Dislike">
        Dislike</label>
    <label>
        <input type="radio" name="Liking" value="Like">
        like</label>
    <button type="submit">submit</button>
</form>