<nav>
    <ul>
        <li>
            <a aria-label="go to profile page" href="/profile">
            <img src="../img/Create.png">
            <span>Create Account</span></a>
        </li>
        <li>
            <a aria-label="go to Discover page" href="/">
                <img src="../img/Discover.png">
                <span>Discover</span></a>
            </li>
        
        <li> <a aria-label="go to matches page" href="/matches">
                <img src="../img/Match.png">
                <span>Matches</span></a>
            </li>
            <li> <a aria-label="go to matches page" href="/allUsers">
                <img src="../img/AllUsers.png">
                <span>All Users</span></a>
            </li>
    </ul>
</nav>