<nav>
    <ul>
        <li>
            <a aria-label="go to profile page" href="/profile">
            <img src="../img/placeholder-images.png">
            <span>Profile</span></a>
        </li>
        <li>
            <a aria-label="go to Discover page" href="/">
                <img src="../img/placeholder-images.png">
                <span>Discover</span></a>
            </li>
        
        <li> <a aria-label="go to chat page" href="/chats">
            <img src="../img/placeholder-images.png">
            <span>Chats</span></a>
        </li>
        <li> <a aria-label="go to matches page" href="/matches">
                <img src="../img/placeholder-images.png">
                <span>Matches</span></a>
            </li>
            <li> <a aria-label="go to matches page" href="/allUsers">
                <img src="../img/placeholder-images.png">
                <span>All Users</span></a>
            </li>
    </ul>
</nav>