<meta charset="UTF-8">
    <meta name="author" content="Bas Vugts">
    <meta name="description" content="Project tech Matching app">
    <meta name="keywords" content="NodeJS, Express, MongoDB, EJS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link href="../styles/style.css" rel="stylesheet" type="text/css">
    <script src="../script/script.js"></script>
    <title><%- title %></title>