<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h1> Chat Page</h1>
        <section>
            <!-- If statement if(macthes === 0) {display zero state} else {show matches and chats}-->
                        
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>