<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h1>Editting form page</h1>
        <section>
            <p>You Want to edit the following:</p>
            <%- include('../partials/deleteForm') %>
               
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>