<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body id="homePage">
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h1>Dicover page</h1>
        <section>

            <!-- foreach user from database Print Profile pic and other data -->
            <h2>Username (From Database)</h2>
            <img src="../img/placeholder-images.png">
            <%- include('../partials/form')%>
            <p>Console</p>
            <p>Most Played Game(s)</p>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>