<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body id="homePage">
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h1>Dicover page</h1>
        <section>
            <h2>Under construction</h2>
            <img src="../img/Webpage-under-construction.jpg">
        </section>     
        <p><b>Source: </b>Webpage under construction. (z.d.). [illustratie]. De licht boei emmeloord. Geraadpleegd van https://www.delichtboei-emmeloord.nl/wp-content/uploads/sites/38/2020/03/Webpage-under-construction.jpg</p>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>