<!DOCTYPE html>
<head>
<%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h1>Make your account </h1>
        <section>
            <!--  <%# person %> -->
        </section>
        <section>
            <%- include('../partials/AddUserForm') %>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>